*{padding: 0px; margin:0px; font-family: 'Exo 2', sans-serif;}
body{min-height: 100vh; position: relative; margin: 0; box-sizing: border-box; padding-bottom: 680px;}
.intestazione{ background-color: #fff; color: #404040; font-weight: 700; font-size: 18px;}
.intestazione img { padding: 15px;}
.intestazione p { margin-top: 10px; text-align: center;}
.logo{ max-width: 180px;}
.glyphpro-shopping_cart{font-size: 26px; padding-top: 5px; padding-left: 30px;}
#menu{ background-color: #d66c0f; color: #1d1d2c;}
#menu ul{margin: 0px auto;}
#menu ul li { list-style-type: none; float: left; font-size: 22px; padding-left: 30px; padding-right: 30px; text-align: center;}
#menu a { color: white;}
#menu a:hover { color:white;}
.navbar-menu-text{ color: #fff;}
.navbar{ -webkit-flex-direction: unset; flex-direction:unset; background-color:  #d66c0f!important;}
.navbar-nav .dropdown-menu{ float: left;}
.dropdown-menu{padding: 15px; background-color: #313131; color: #fff; left: 30px; min-width: 230px; top: 100%; margin: 0px; border: 0px; line-height: 40px;}
.nav-item{ position: relative; line-height: 25px;}
.nav-item:hover>.dropdown-menu{display: block;}
.btn-outline-info{color: #fff; border-color: #fff; border: 2px solid;}
.search-header{ margin-top: 25px; height: 70px; font-size: 24px; border-color: #d66c0f!important; border: 2px solid; border-radius: 35px; color:#404040!important; padding-left: 25px; font-weight: 700;}
.search-header::placeholder{color:#404040!important; font-size: 18px;}
.biglietti-btn{display: inline-block;padding: 10px 15px;background: #d66c0f;color: #fff; font-weight: 600;text-decoration: none;transition: 0.3s all;}
a{ color: #404040;}
a:hover{color:#000; text-decoration: none;}
.descrizione{ position: relative; bottom: 0px; left: 15px; z-index: 20; padding-bottom: 5px; padding-top: 5px; transition: 0.3s all;}
.subtitle{ color: #d66c0f; font-weight: 700; padding-top: 20px; text-align: center; font-size: 25px;}
.information-section{display: block; text-align: center; background-color: rgb(243, 243, 243); padding-top: 60px; padding-bottom: 60px; margin-top: 0px; margin-bottom: 0px;}
.information-section h3{font-weight: 550; color: #353535;}
.information-section p {color: #353535;}
.background-descrizione{ position: absolute; background-color: rgba(255,255,255,0.5); width: 100%; bottom: 0px;}
.container-fluid{ max-width: 2520px;}
.footer-color{ background-color: #353535; position: absolute; bottom: 0; width: 100%;}
.footer-color a, .footer-color h4 { color: #fff;}
.footer-color h4 { font-weight: 700;}
.newsletter input,  .newsletter input::placeholder{ color: #353535; font-weight: 700;}
.link-utili p { margin-bottom: 0px;}
.social>div{ padding-left: 15px;}
.carousel-item{ min-height: 250px; overflow: hidden; background-position: center center; background-size: cover; background-repeat: no-repeat; transition: 0.5s all;}
.login-logo{vertical-align: middle; margin-top: 10px; padding: 0px!important; margin-right: 10px;}
.search-header:enabled{box-shadow: 5px 9px #d66c0f}
.privacy-paragraph{margin-bottom: -20px; color: #fff;}
.clear { clear: both;}
.event-body{ padding: 15px; background-color: #ececec;  transition: 0.8s; max-width: 536px; margin: 0px auto;}
.event-date{ font-weight: 700; font-size: 20px; line-height: 20px; padding-top: 18px; color: rgb(37, 75, 111);}
.scheda-event-date{font-weight: 700; font-size: 20px; line-height: 20px; padding-top: 18px; text-align: center; }
.event-description{ line-height: 20px; padding-top: 18px; font-size: 18px;}
.scheda-description{line-height: 20px; font-size: 18px; margin-top: 30px;}
.event-body .col-sm-2, .event-body .col-sm-10{ width: auto;}
.event-title{ margin-bottom: 20px; font-weight: 700; color: rgb(37, 75, 111);}
.scheda-title{ margin-bottom: 20px; font-weight: 700; color: rgb(37, 75, 111); margin-top: 20px;}
.event-author{ font-weight: 700; color: rgb(37, 75, 111);}
.event-body:hover{ background-color: rgba(255, 162, 82, 0.4); transition: 0.8s}
.container-fluid-scheda-evento{ max-width: 1920px; margin: 0px auto; padding-left: 30px; padding-right: 30px;}
.scheda-date-evento{ margin-top: 30px;}
.scheda-date-evento table { color: #232f31 !important;}
.scheda-date-evento table tbody tr td { vertical-align: middle;}
.scheda-event-description{font-size: 16px;}
.scheda-event-price{ font-size: 18px; font-weight: 700;}
.scheda-event-icon{color: #232f31; font-size: 30px;}
.event-gallery-name{position: absolute; color: #fff; font-weight: 700; font-size: 19px; background-color: rgba(214,108,15,0.8); padding: 6px; right: 0px;}
.event-gallery{ position: relative;}
.event-gallery-first-date{position: absolute !important; bottom: 0px; background-color: rgba(255,255,255,0.7); width: 100%; padding: 10px; font-weight: 700; line-height: 16px; font-size: 16px; color: #092e52;}
.event-gallery-first-date span{ padding-left: 30px;}
.event-gallery-city{position: absolute; bottom: 14px; right: 30px; font-weight: 700; color: #092e52;}
.table-info{background-color: #ddf5f9;}
.white-color{ color: #fff;}
.termine-ricerca{ font-weight: 600; color: #232f31}
.termine-ricerca span { font-weight: 700; color: #d66c0f}
.table-hover th, td{text-align: center;}
.success { color: green; font-size: 20px; text-align: center; padding: 20px;}
.error { color: red; font-size: 20px; text-align: center; padding: 20px;}
.quantita { display: inline; font-size: 26px; padding: 0px 14px;}
.button-quantita{ background-color: transparent; border: 0px;}
.td-prezzo{ min-width: 100px;}
.td-descrizione{ min-width: 250px;}
.td-data{ min-width: 270px;}
.wrap-button-attivita-rapida__btn { display:inline-block; padding:10px 15px; background:#d66c0f; color:#fff; font-weight:600; text-decoration:none; transition:0.3s all; float: right;}
.wrap-button-attivita-rapida__btn:hover, .wrap-button-attivita-rapida__btn:focus { background:#333; color:#fff; }
.wrap-button-attivita-rapida__btn:hover .glyphpro { color:#fff; }
.white{ color: #fff;}
.white:hover { color: #d66c0f;}
.clear{ clear: both;}
.jumbotron:hover{background-color: white;}
.jumbotron{text-align: center; min-height: 290px;}
@media (min-width: 378px){
    body{ padding-bottom: 665px;}
}
.logout{ padding-top: 0px !important;}
@media (min-width: 576px){
	.form-inline .form-control{min-width: 400px;}
	.carousel-item{ height: 300px;}
	.descizione{ position: relative; bottom: 0px; left: 15px;}
    body{ padding-bottom: 655px;}
}


@media (min-width: 768px){
    body{ padding-bottom: 420px;}
    .categoria-eventoS{display: flex;}
    .scheda-description{ margin-top: 0px;}
   
}


@media (min-width: 992px){
	.navbar-brand{display: none;}
	#menu ul li{border-right: 1px solid #fff;}
	#menu ul li:last-child{border-right: 0px solid;}
	.intestazione p { margin-top: 10px; text-align: center; padding-top: 35px;}
	.carousel{ text-align: center;}
	.descrizione{ text-align: left;}
	.descrizione{position: relative; bottom: 0px; left: 45px; z-index: 20; padding-bottom: 37px; padding-top: 31px;}
	.carousel-item{ height: 550px;}
	.search-header::placeholder{font-size: 22px;}
	.subtitle{ font-size: 32px;}
	.login-logo{ padding-top: 35px!important;}
    .prossimi-eventi, .sottocategoria{width: 45%;}
    body{ padding-bottom: 270px;}
    .glyphpro-shopping_cart{padding-top: 0px;}
	.modal-dialog{ min-width: 1000px;}
} 

@media (min-width: 1064px){
    .glyphpro-shopping_cart{padding-top: 42px;}
}

@media (min-width: 1200px){
    .glyphpro-shopping_cart{padding-top: 42px;}
}


@media (min-width: 2320px){
    .descrizione{left: 3%;}
    
}


.jcarousel-wrapper {
    margin: 20px;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev, .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.subtitle::before {
    position: relative;
    top: 45px;
    display: block;
    width: 40px;
    border-bottom: 4px solid;
    color: black;
    content: "";
    left: 50%;
    margin-left: -15px;
    border-bottom-width: 4px;
    margin-bottom: 0px;
}