/* CSS Document */

*{padding:0px; margin: 0px;}
body{ min-height: 100vh; position: relative; margin: 0; box-sizing: border-box; padding-bottom: 125px;}
.tentativi-login h3, .tentativi-login p { color: #fff;}
.center { text-align: center;}
.header{ border-bottom: 1px solid #191717;}
.color1 { background-color: #f0f0f0; }
.color2 {background-color: #202020;}
.color3{background-color: #282828;}
.color4{ background-color: #eeeded;}
.color5 { background-color: #def6fe;}
.color6 { background-color: #71beda;}
.color7 { background-color: #595959;}
.color8 { background-color: #771414;}
.white { color: white;}
.white:hover { color: white;}
.black{ color: black;}
.black:hover { color: black;}
.red { color: red;}
.green{color: green;}
.deep-blue{ color: #012633;}
.alert-grey{background-color: #f2f2f2;}
.bold{ font-weight: 600;}
.img-responsive-center { margin: 0px auto;}
p, h1, h2, h3, h4, h5, h6, span { font-family: 'Raleway', sans-serif; }
h3 { font-size: 18px;}
.padding { padding: 20px;}
.min-padding { padding: 10px;}
.padding-left{ padding-left: 10px;}
.padding-right { padding-right: 10px;}
.float-left{ float: left;}
.float-right{float: right;}
.margin-left { margin-left: 18px;}
.margin-right { margin-right: 16px;}
.margin-bottom{ margin-bottom: 15px;}
.margin-top{ margin-top: 15px;}
.margin { margin: 5px;}
.margin-left-max{ margin-left: 0px;}
.title-color{color: #414545;}
.form{ border: 1px solid #191717;}
#menu ul li { list-style-type: none;}
#menu a { color: white;}
#menu a:hover { color:white;}
.numero-fatture-green a, .numero-fatture-green a:hover { color:white; }
a:hover, a:focus { text-decoration: none; }
.text { font-size: 14px;}
.img-profile { width: 90px;}
.padding tr{text-align: center;}

p { margin-bottom: 0px;}
.title-content { font-size: 24px;} 
.go-back{ font-size: 20px;}
.add-content{ font-size: 20px;}
.option { color: #012633; font-size: 16px;}
.option:hover{ color: #012633;}
.option span { font-size: 40px;}
form {border: 0px solid !important; height: auto !important;}
.vertical-center{ vertical-align: middle !important;}
.errore { color: red; font-size: 20px; text-align: center; padding: 20px;}
.successo { color: green; font-size: 20px; text-align: center; padding: 20px;}
.prezzo-tot { font-size: 20px;}
.footer { position: absolute; bottom: 0; width: 100%; background: #282828; color:#fff; padding: 15px;}
.custom-file-control:after {
    content: attr(data-content) !important;
}
.custom-file{width: 100%;}
.img-rate { width: 33px;}
.glyphpro-warning_sign{ color:yellow; font-size: 31px;}
.modal-dialog{max-width: 700px; }
.link_sito_clienti{ color: #23a4d2; font-weight: 600;}
.link_sito_clienti:hover{ color: #0C1B5F;}
.display-tb-clienti{display: inline-block !important;}
.navbar-menu-text{ color: #fff;}
.navbar{ -webkit-flex-direction: unset; flex-direction:unset;}
.navbar-nav .dropdown-menu{ float: left;}
.dropdown-menu{padding: 15px; background-color: #313131; color: #fff; left: 30px; min-width: 230px; top: 100%; margin: 0px; border: 0px; line-height: 40px;}
.nav-item{ position: relative; line-height: 70px;}
.nav-item:hover>.dropdown-menu{display: block;}
.navbar { padding: 0px;}
.img-profile-project{ width: 25px;}
.descrizione-intervento{ color: #000; font-weight: 800;}
.data-intervento{ font-size: 12px;}
.table-interventi tr td { padding: 9px; border-bottom: 2px solid #fff;}
.alert-primary{ background-color: #ffb42b;}
.riepilogo{ font-size: 18px;}
.attivita{float: none; list-style-type: decimal; margin-top: 5px;}
.attivita li { margin-left: 30px;}
.numero-fatture-red {background-color: #fc3a3f; color: #fff; font-weight: 700;}
.numero-fatture-green {background-color: #47bd47; color: #fff; font-weight: 700;}
.wrap-add-calendar-event{position: relative; z-index: 20; top: 10;}
.top-description{ font-size: 11px; font-weight: 700;}
.delega { margin-right: 10px;}
.budget-paragraph{ position: relative; bottom: 70px; margin-left: 200px;}
.block{ float: left;}
.block g:last-child{z-index: 20; opacity: 1;}
.graph{width: 900px; height: 500px;}
.clear{ clear: both;}
.dropdown-menu{ margin-left: 35px;}
.wrap-button-attivita-rapida__btn{float: right; margin-right: 20px;}
#year-crea-fattura{ padding-left: 8px; margin-top: -25px; }
@media (min-width: 485px) 
{
	.margin-left-min{ margin-left: 16px;}
	.margin-left { margin-left: 35px; font-size: 14px;}
	.margin-right { margin-right: 35px;}
	.table-responsive{display:table;}
	h3{font-size: 24px;}
}
@media (min-width: 1200px) 
{
	.text {font-size: 16px;}
}
@media (max-width: 1002px)
{
	table{ font-size: 14px;}
}
@media (max-width:1200px)
{
	.option{ font-size: 14px;}
}
@media (max-width: 900px)
{
	.table-lg { display: block;}
}
@media only screen and (min-width: 992px) {
	.navbar-menu-text{
		display: none;
	}
	.dropdown-menu{ margin-left: 0px;}
}
@media only screen and (max-width: 992px) {
	.header-menu{padding: 20px;}
}

.custom-file-control:after {
    content: attr(data-content) !important;
}
.custom-file{width: 100%;}
.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* WRAP ACTIVITY */
.wrap-activity{ padding-left: 60px; padding-right: 60px;}



/* HEADER */
.header { padding:15px 10px; }
.header .logo { max-width:130px; }
.header .img-profile { max-width:45px; }

.col-xl-2 .wrap-button-attivita-rapida {margin-top: 35px;}
.wrap-button-attivita-rapida { text-align:right;}
.wrap-button-attivita-rapida__btn { display:inline-block; padding:10px 15px; background:#71beda; color:#fff; font-weight:600; text-decoration:none; transition:0.3s all; }
.wrap-button-attivita-rapida__btn:hover, .wrap-button-attivita-rapida__btn:focus { background:#333; color:#fff; }
.wrap-button-attivita-rapida__btn:hover .glyphpro { color:#fff; }